<ion-view view-title="Appointment Confirmation">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">

        <img src="{{ img }}">
        <h2>{{ name }}</h2>
        <p>{{ profile }}</p>
      </div>

      <div class="item item-body">
        <p>Category: {{ category }} </p>
        <p>Time: {{ time }}</p>
        <p>Location: {{ location }}</p>
        <p>Date: {{ date }}</p>
      </div>
    </div>

    <button class="button button-block button-calm">
      Confirm
    </button>
  </ion-content>
</ion-view>