<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Choose Date & Location">
  <ion-content class="padding">
  <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Location
    </div>
    <select id="location">
      <option selected value="0"> </option>
      <option value="1">Jurong Point</option>
      <option value="2">Jurong East</option>
      <option value="3">Changi</option>
      <option value="4">Cityhall</option>
      <option value="5">Bishan</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Date
    </div>
    <select id="date">
      <option selected value="0"> </option>
      <option value="1">March  5th</option>
      <option value="2">March  6th</option>
      <option value="3">March  7th</option>
      <option value="4">March  8th</option>
      <option value="5">March  9th</option>
      <option value="6">March 10th</option>
      <option value="7">March 11th</option>
    </select>
  </label>
  </div>

  <button class="button button-block button-calm" ng-click="click()">
      Next
    </button>

  </ion-content>
</ion-view>