<ion-view view-title="Appointment">
  <ion-content>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->

    <div class="list card">
      <div class="item item-divider"> 10:30AM, Wednesday, 4th March</div>
      <div class="item item-avatar">
        <img src="img/doc1.png">
        <h2>Marty McFly (Woman Health)</h2>
        <p>Location: Jurong Point</p>
        </div>
      <div class="item item-body">

        <button class="button button-clear button-balanced">
        &nbsp View &nbsp
        </button>

        <button class="button button-clear button-positive">
        &nbsp&nbsp&nbspEdit&nbsp&nbsp&nbsp
        </button>

        <button class="button button-clear button-assertive">
        &nbspDelete&nbsp
        </button>

      </div>
    </div>

    <div class="list card">
      <div class="item item-divider"> 12:30PM, Friday, 13th March</div>
      <div class="item item-avatar">
        <img src="img/doc2.png">
        <h2>Mary Fung (Woman Health)</h2>
        <p>Location: Jurong Point</p>
        </div>
      <div class="item item-body">
        <button class="button button-clear button-balanced">
        &nbsp View &nbsp
        </button>

        <button class="button button-clear button-positive">
        &nbsp&nbsp&nbspEdit&nbsp&nbsp&nbsp
        </button>

        <button class="button button-clear button-assertive">
        &nbspDelete&nbsp
        </button>
      </div>
    </div>


    <div class="list card">
      <div class="item item-divider">3:30PM, Saturday, 14th March</div>
      <div class="item item-avatar">
        <img src="img/doc3.png">
        <h2>Tom Hagons (Woman Health)</h2>
        <p>Location: Jurong Point</p>
        </div>
      <div class="item item-body">
        <button class="button button-clear button-balanced">
        &nbsp View &nbsp
        </button>

        <button class="button button-clear button-positive">
        &nbsp&nbsp&nbspEdit&nbsp&nbsp&nbsp
        </button>

        <button class="button button-clear button-assertive">
        &nbspDelete&nbsp
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
