<ion-view view-title="Account">
  <!-- <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content> -->

  <ion-content class="padding">
    <div class="list card">
      <!-- <div class="item item-divider">Recent Updates</div> -->
        <div class="item item-avatar">
          <img src="img/me.png">
          <h2>Gong Yiwei</h2>
          <p>Jan 24, 1955</p>
        </div>
      
    </div>

    <div class="list card">

    <a href="#" class="item item-icon-left">
      <i class="icon ion-ios7-home"></i>
      Contact information
    </a>

    <a href="#" class="item item-icon-left">
      <i class="icon ion-alert-circled"></i>
      Set Reminders
    </a>

    </div>

  </ion-content>
</ion-view>
