<ion-view view-title="Booked Appointment">
  <ion-content>

    <div class="list card">
      <div class="item item-divider"> 10:30AM, Wednesday, 4th March</div>
      <div class="item item-avatar">
        <img src="img/doc1.png">
        <h2>Marty McFly (Woman Health)</h2>
        <p>Location: Jurong Point</p>
        </div>
      
    </div>

    <div class="list card">
      <div class="item item-divider"> 12:30PM, Friday, 13th March</div>
      <div class="item item-avatar">
        <img src="img/doc2.png">
        <h2>Mary Fung (Woman Health)</h2>
        <p>Location: Jurong Point</p>
        </div>
     
    </div>


    <div class="list card">
      <div class="item item-divider">3:30PM, Saturday, 14th March</div>
      <div class="item item-avatar">
        <img src="img/doc3.png">
        <h2>Tom Hagons (Woman Health)</h2>
        <p>Location: Jurong Point</p>
        </div>
      
    </div>

  </ion-content>
</ion-view>
